/* GENERAL STYLES */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}

header {
    line-height: 90px;
    height: 200px;
    height: 91px;
}

header li a {
    text-decoration: none;
    color: black;
}

header li button a {
    color: white;
}

header ul li {
    display: inline-block;
    padding: 0 25px;
    font-weight: 500;
}

.hoverbottom:hover {
    border-bottom: 3px solid black;
}

header img {
    vertical-align: sub;
}

/* UTILITIES */
.fixed {
    position: fixed;
    width: 100vw;
}

.btn-blue {
    padding: 0 20px;
    height: 33px;
    background-color: #0061FF;
    color: white;
    font-size: 15px;
    border: none;
}

.float {
    float: left;
}

.floatright {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bottomhighlight {
    transition: ;
}

/* MAIN CONTENT */
