/* GENERAL STYLES */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}

header {
    line-height: 90px;
    height: 200px;
    height: 91px;
    background-color: lightskyblue;
}

header a {
    text-decoration: none;
    color: black;
}

header ul li {
    display: inline-block;
    padding: 0 25px;
    font-weight: 500;
}

header img {
    vertical-align: sub;
}

/* UTILITIES */
.btn-blue {
    padding: 0 20px;
    height: 33px;
    background-color: #0061FF;
    color: white;
    font-size: 15px;
    border: none;
}

.float {
    float: left;
}

.floatright {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* MAIN CONTENT */
header-col1,
header-col2 {
    width: 50%;
    margin: 0 auto;
}