/* GENERAL STYLES */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Open Sans', sans-serif;
}

header {
    line-height: 88px;
    background-color: white;
}

header li a {
    text-decoration: none;
    color: black;
}

header li button a {
    color: white;
}

header ul li {
    display: inline-block;
    padding: 0 25px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

header img {
    vertical-align: sub;
}

/* UTILITIES */
.fixed {
    position: fixed;
    width: 100vw;
}

.btn-blue {
    padding: 0 20px;
    height: 33px;
    background-color: #0061FF;
    color: white;
    font-size: 15px;
    border: none;
}

.float {
    float: left;
}

.floatright {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hoverbottom:hover {
    border-bottom: 3px solid black;
}

.paddingtop-100px {
    padding-top: 100px;
}

.fullwidthsection {
    background-color: #B4D0E7;
}

.container-big {
    width: 80%;
    margin: 0 auto;
}
/* MAIN CONTENT */
.col1-jumbo {
    width: 40%;
}

.col2-jumbo {
    width: 60%;
}

.col2-jumbo img {
    max-width: 100%;
}